:root {
  /* Colors */
  --colorPrincipal: #099d8d;
  --colorPrincipalTransparente: rgba(9, 159, 144, 0.64);
  --colorSecondary: #14d9c4;
  --colorContrast1: #fff;
  --colorContrast2: #b8b8b9;
  --colorContrast3: #54585a;
  --ColorContrast4: #000;
  /* Typographys */
  --typoTitle: "Rubik", sans-serif;
  --typoText: "Open Sans", sans-serif;
}

/* HEADER */

.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.header-fix {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

/* Header: group's name */
.group-name {
  width: 100%;
  background-color: var(--colorPrincipal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container h1 {
  font-family: var(--typoTitle);
  color: var(--colorContrast1);
  font-size: 16px;
  line-height: 30px;
  padding: 15px 80px;
}

/* Header: sections */
.menu-container {
  background-color: var(--colorSecondary);
  display: flex;
  z-index: 995;
  justify-content: space-around;
}

.menu-item {
  list-style-type: none;
}

.menu-item a {
  text-decoration: none;
  color: var(--colorContrast1);
  font-family: var(--typoTitle);
  font-size: 15px;
  line-height: 30px;
}

/* Header: image */

/* Main: section team*/

.equipo {
  width: 89px;
  height: 45px;
  margin: 0 99.5px 15px 101.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: aqua;
}
.fortalezas {
  width: 290px;
  height: 45px;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: aqua;
}
.debilidades {
  width: 290px;
  height: 45px;
  margin: 30px 0 0;
  font-family: Rubik;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: aqua;
}
/* Class p-equip */
.p-equipo {
  width: 290px;
  height: 384px;
  margin: 15px 0 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
/* Class p-fortalezas */

.p-fortalezas {
  width: 290px;
  height: 192px;
  margin: 45px 0 30px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
/* Class p-debilidades */
.p-debilidades {
  width: 290px;
  height: 192px;
  margin: 75px 0 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.header-background {
  height: 421px;
  width: 100vw;
  background-size: cover;
  background-image: url(../images/code-image.jpg);
  background-repeat: no-repeat;
}

/* Header: hero */
.hero {
  background-color: var(--colorContrast1);
  font-family: var(--typoText);
  color: var(--ColorContrast4);
  font-size: 18px;
  line-height: 25px;
  margin: 0 15px;
  padding: 0 14px 15px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
  transform: translateY(133%);
}
