<footer class="footer">
  <div class="footer__wrapper">
    <small class="footer__caption">Code Fighters © 2021</small>
    <nav class="footer__menu">
      <a class="footer__menu--link" href="./index.html#team" title="Volver a 'Equipo'">Equipo</a>
      <a class="footer__menu--link" href="./index.html#quienes-somos" title="Volver a 'Quiénes somos'">Quiénes somos</a>
      <a class="footer__menu--link" href="./contact.html" title="Ir a 'Contacto'">Contacto</a>
    </nav>
    <nav class="footer__logo">
      <a href="https://adalab.es/" title="Ir a Adalab" target="_blank" rel="noopener noreferrer">
        <img class="footer__logo--img" src="./assets/images/logo-adalab.png" alt="Logo Adalab">
      </a>
    </nav>
  </div>
</footer>