<header id="home" class="header">
  <div class="header__fixed">
    <h1 class="header__fixed--groupName">
      <a class="link-home" href="./index.html#home" title="Volver al inicio"
        >Code-fighters</a
      >
    </h1>
    <nav class="header__fixed--menuBar">
      <ul class="menu-container">
        <li class="menu-item item-1">
          <a class="link-team" href="./index.html#team" title="Ir a 'Equipo'"
            >Equipo</a
          >
        </li>
        <li class="menu-item item-2">
          <a
            class="link-who"
            href="./index.html#quienes-somos"
            title="Ir a 'Quiénes somos'"
            >Quiénes somos</a
          >
        </li>
        <li class="menu-item item-3">
          <a
            class="link-contact"
            href="./contact.html"
            title="Contacta con Code-Fighters"
            >Contacto</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-background @@bkImg" title="code-fighters background"></div>
  <div class="hero @@displayHero">
    <p class="hero__paragraph">¿No me tomas en serio porque soy una mujer? <em>Espera y verás.</em></p>
  </div>
</header>
