<header class="header-container">
  <div class="header-fix">
    <h1 class="group-name">CODE-FIGHTERS</h1>
    <nav class="menu-bar">
      <ul class="menu-container">
        <li class="menu-item item-1">
          <a class="link-team" href="./index.html#team">EQUIPO</a>
        </li>
        <li class="menu-item item-2">
          <a class="link-who" href="./index.html#quienes-somos"
            >QUIÉNES SOMOS</a
          >
        </li>
        <li class="menu-item item-3">
          <a class="link-contact" href="./contact.html">CONTACTO</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-background @@bkImg"></div>
  <div class="hero @@display-hero">
    <p>¿No me tomas en serio porque soy una mujer? <em>Espera y verás.</em></p>
  </div>
</header>
