<!-- <div class="anchor"></div> -->
<section id="team">
  <article class="team-wrapper">
    <h2 class="equipo">EQUIPO</h2>
    <p class="p-equipo">
      Somos el equipo Code Fighters, ante todo mujeres luchadoras. Valentía y
      tenacidad son nuestros rasgos más distintivos. Un grupo multidisciplinar
      con un hambre voraz por aprender y progresar rápidamente.
    </p>
    <p class="p-equipo">
      Nuestras diferencias nos hacen más fuertes, y juntas descubriremos todos
      los secretos que oculta el código. De momento no sabemos kung-fu, pero
      estamos en ello.
    </p>
    <div class="divider"></div>
  </article>
</section>
<section id="strengthandwaeknesses">
  <article class="sectionteam__teamstrengths">
    <h3 class="fortalezas">Fortalezas</h3>
    <p class="p-fortalezas">
      Somos versátiles, con capacidad para hacer frente a los problemas que
      puedan surgir, aun siendo estos cambiantes e inesperados. Creemos
      firmemente que el trato humano es el pilar sobre el cual se fundamenta el
      éxito: para comprender tus preocupaciones y necesidades, nos apoyamos en
      un gran ambiente de trabajo.
    </p>
  </article>
  <article class="sectionteam__teamweakness">
    <h3 class="debilidades">Debilidades</h3>
    <p class="p-debilidades">
      Aunque contamos con poca experiencia, (nuestro empeño y dedicación es indiscutible) no nos faltan ganas, y estamos
      convencidas de que no habrá mejor aprendizaje que recorrer este camino
      junto a vosotros.
    </p>
  </article>
</section>