<main class="contact">
    <h2 class="contact__title">Contacto</h2>
    <div class="contact__des">
      <p>
        Estamos dispuestas a hacerle frente a cualquier desafío: haznos saber
        tus problemas, que nosotras nos encargamos de darles soluciones. No
        dudes en ponerte en contacto con nosotras:
      </p>
      <p class="contact__des--disclaimer">
        Todos los campos marcados con <span class="highlight">*</span> son
        obligatorios
      </p>
    </div>

    <form action="https://formspree.io/f/mdoyqqaa" method="post" class="contact__form">
      <div class="contact__form--container">
        <label for="completeName"
          >Nombre completo <span class="highlight">*</span></label
        >
        <input
          class="contact__form--item"
          placeholder="Nombre..."
          id="completeName"
          type="text"
          name="completeName"
          required
        />
      </div>
      <div class="contact__form--container-row">
        <div class="contact__form--container">
          <label for="emailAddress">Email <span class="highlight">*</span></label>
          <input
            class="contact__form--item"
            placeholder="nombre.apellidos@mail.com"
            id="emailAddress"
            type="email"
            name="email"
          />
        </div>

        <div class="contact__form--container">
          <label for="phoneNumber">Teléfono</label>
          <input
            class="contact__form--item"
            placeholder="Ej: 123456789"
            id="phoneNumber"
            type="tel"
            name="phoneNumber"
          />
        </div>
      </div>
      <div class="contact__form--container">
        <label for="message">Mensaje <span class="highlight">*</span></label>
        <textarea
          class="contact__form--item contact__form--textarea"
          id="message"
          name="message"
          rows="5"
          cols="50"
          placeholder="¿Qué necesitas?"
        ></textarea>
      </div>
      <div class="contact__form--button">
        <input class="send" type="submit" value="Enviar" name="send" />
      </div>
    </form>
</main>
