<section id="quienes-somos" class="about-us">
  <h2 class="who-we-are">QUIÉNES SOMOS</h2>
  <include src="./member.html" imgSrc="./assets/images/photo_noelia.jpeg" imgAlt="photo-noelia" imgCls="img-noelia"
    nameH4l="about__section--descriptionl" memberArt="member__left" name="Noelia Prieto" description="¡Hoooolaaaa! Soy Noe, una chica del norte, palentina exactamente, amante
    del calor, viajar y la buena compañía, ¡entre otras muchas cosas! Vengo de
    un mundo que no tiene nada que ver con la programación: trabajaba en
    banca. Si, era bancaria, que no banquera (¡ojalá!) y pese a que me gustaba
    mi trabajo, tras mucho darle vueltas, decidí cambiar el rumbo de mi vida.
    Y el resto, ¡pues ya lo sabéis! :)" persona="noelia-description" member="about__h4--left"
    urlTwitter="https://twitter.com" urlLinkedin="https://www.linkedin.com/" urlGitHub="https://github.com/"
    urlMail="blabla@blabla.com" rrss="about__nav--left" icons="nav-iconsL"></include>

  <include src="./member.html" imgSrc="./assets/images/photo_natalia.jpg" imgAlt="photo-natalia" imgCls="img-natalia"
    nameH4r="about__section--descriptionr" memberArt="member__right" name="Natalia Jiménez" description="¡Hola! Soy Natalia y vivo en Madrid. Mi pasión por los animales desde
  pequeña me llevó a estudiar auxiliar de veterinaria, así que si tenéis
  dudas con vuestras mascotas podéis hacer un 2x1. Practico karate, mi otra
  gran pasión desde que tengo uso de razón. Durante el vegit rano trabajo de
  socorrista, ya sabéis, ¿qué mejor plan para el calor del verano? Y, desde
  ahora, espero añadir que contáis con mis servicios ;)" persona="natalia-description" member="about__h4--right"
    urlTwitter="https://twitter.com" urlLinkedin="https://www.linkedin.com/" urlGitHub="https://github.com/"
    urlMail="blabla@blabla.com" rrss="about__nav--right" icons="nav-iconsR"></include>

  <include src="./member.html" imgSrc="./assets/images/photo_alejandra.jpg" imgAlt="photo-alejandra"
    imgCls="img-alejandra" nameH4l="about__section--descriptionl" memberArt="member__left" name="Alejandra Mejía"
    description="Desde que era una niña me planteé en múltiples ocasiones que era lo que
quería ser en un futuro. Me preocupaba tanto, tanto, ¡TANTO! que no tuve
más remedio que hacerme historiadora... Tras diferentes proyectos, cursos,
desarrollo autodidacta (y para que engañarnos, algún que otro traspiés),
me encontraba más preparada que nunca para resolver la cuestión
'¿qué quiero ser?' Gracias a mi tenacidad y a la oportunidad
brindada por Adalab ¡estoy más que lista para mi futuro como front-ender!" persona="alejandra-description"
    member="about__h4--left" urlTwitter="https://twitter.com" urlLinkedin="https://www.linkedin.com/"
    urlGitHub="https://github.com/" urlMail="blabla@blabla.com" rrss="about__nav--left" icons="nav-iconsL"> </include>

  <include src="./member.html" imgSrc="./assets/images/photo_paula.jpg" imgAlt="photo-paula" imgCls="img-paula"
    nameH4r="about__section--descriptionr" memberArt="member__right" name="Paula Perera" description="¡Hola! Soy Paula una madrileña amante del diseño, la carpintería y
cualquier cosa que implique trastear. He pasado por varios perfiles dentro
del mundo e-commerce (retoque de imágenes, creación de contenido, gestión
de equipos...) y solo me faltaba la programación. Después de hacer dos
webs con Wordpress tenía la espinita de aprender a hacer una web desde
cero. Me puede la curiosidad, si no se hacer algo no puedo evitar
investigar, y en ello estoy." persona="paula-description" member="about__h4--right" urlTwitter="https://twitter.com"
    urlLinkedin="https://www.linkedin.com/" urlGitHub="https://github.com/" urlMail="blabla@blabla.com"
    rrss="about__nav--right" icons="nav-iconsR"></include>
</section>