<section id="quienes-somos" class="about-us">
    <h2 class="who-we-are">QUIÉNES SOMOS</h2>
    <article class="noelia">
      <div class="photo-noelia">
        <img class="img-noelia" src="./assets/images/photo_noelia.jpeg" alt="photo-noelia">
      </div>
    </article>
    <article class="noelia">
      <h4 class="member member-noelia">Noelia Prieto</h4>
      <p class="description noelia-description">
        ¡Hoooolaaaa! Soy Noe, una chica del norte, palentina exactamente, amante del calor, viajar y la buena
        compañía, ¡entre otras muchas cosas! Vengo de un mundo que no tiene nada que ver con la programación:
        trabajaba en banca. Si, era bancaria, que no banquera (¡ojalá!) y pese a que me gustaba mi trabajo, tras mucho
        darle vueltas, decidí cambiar el rumbo de mi vida. Y el resto, ¡pues ya lo sabéis! :)

      <nav class="nav-icons">
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-twitter"
            href="#"></i>·</a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-linkedin-in"
            href="#"></i>· </a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-github-alt">·</i></a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fas fa-envelope"
            href="#"></i></a>
      </nav>
    </article>

    <article class="natalia">
      <div class="photo-natalia"> <img src="./assets/images/photo_natalia.jpg" alt="photo Natalia" class="img-natalia"></div>
    </article>
    <article class="natalia">
      <h4 class="member member-natalia">Natalia Jiménez </h4>
      <p class="description natalia-description">
        ¡Hola! Soy Natalia y vivo en Madrid. Mi pasión por los animales desde pequeña me llevó a estudiar auxiliar de
        veterinaria, así que si tenéis dudas con vuestras mascotas podéis hacer un 2x1. Practico karate, mi otra gran
        pasión desde que tengo uso de razón.
        Durante el vegit rano trabajo de socorrista, ya sabéis, ¿qué mejor plan para el calor del verano? Y, desde
        ahora,
        espero añadir que contáis con mis servicios ;)
      </p>
      <nav class="nav-icons">
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-twitter"
            href="#"></i>·</a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-linkedin-in"
            href="#"></i>· </a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-github-alt">·</i></a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fas fa-envelope"
            href="#"></i></a>
      </nav>
    </article>

    <article class="alejandra">
      <div class="photo-alejandra"> <img src="./assets/images/photo_alejandra.jpg" class="img-alejandra"
          alt="photo Alejandra"> </div>
    </article>
    <article class="alejandra">
      <h4 class="member member-alejandra">Alejandra Mejía</h4>
      <p class="description alejandra-description">
        Desde que era una niña me planteé en múltiples ocasiones que era lo que quería ser en un futuro. Me preocupaba
        tanto, tanto, ¡TANTO! que no tuve más remedio que hacerme historiadora... Tras diferentes proyectos, cursos,
        desarrollo autodidacta (y para que engañarnos, algún que otro traspiés), me encontraba más preparada que nunca
        para resolver la cuestión <em>"¿qué quiero ser?"</em> Gracias a mi tenacidad y a la oportunidad brindada por
        Adalab ¡estoy más que lista para mi futuro como front-ender!
      </p>
      <nav class="nav-icons">
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-twitter"
            href="#"></i>·</a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-linkedin-in"
            href="#"></i>· </a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-github-alt">·</i></a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fas fa-envelope"
            href="#"></i></a>
      </nav>
    </article>
    <article class="paula last-article">
      <div class="photo-paula"><img class="img-paula" src="./assets/images/photo_paula.jpg" alt=""></div>
    </article>
    <article class="paula last-article">
      <h4 class="member member-paula">Paula Perera</h4>
      <p class="description paula-description">
        ¡Hola! Soy Paula una madrileña amante del diseño, la carpintería y cualquier cosa que implique trastear. He
        pasado por varios perfiles dentro del mundo e-commerce (retoque de imágenes, creación de contenido, gestión
        de equipos...) y solo me faltaba la programación. Después de hacer dos webs con Wordpress tenía la espinita
        de
        aprender a hacer una web desde cero. Me puede la curiosidad, si no se hacer algo no puedo evitar investigar,
        y en ello estoy.
      </p>
      <nav class="nav-icons">
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-twitter"
            href="#"></i>·</a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-linkedin-in"
            href="#"></i>· </a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fab fa-github-alt">·</i></a>
        <a class="social-media-link" href="https://github.com/AlejandraMejiaP"><i class="fas fa-envelope"
            href="#"></i></a>
      </nav>
    </article>
  </section>