<article class="article__member">
  <div class="about__img">
    <img class="@@imgCls" src="@@imgSrc" alt="@@imgAlt">
  </div>
  <div class="about__member @@direction">
    <h4 class="about__member--h4">@@name</h4>
    <p class="description">
      @@description </p>
    <nav class="nav_icons">
      <a class="about__nav" href="@@urlTwitter"><i class="fab fa-twitter" href="#"></i></a> ·
      <a class="about__nav" href="@@urlLinkedin"><i class="fab fa-linkedin-in" href="#"></i></a> ·
      <a class="about__nav" href="@@urlGitHub"><i class="fab fa-github-alt"></i></a> ·
      <a class="about__nav" href="mailto:@@urlMail"><i class="fas fa-envelope" href="#"></i></a>
    </nav>

  </div>
</article>