<article class="article__member">
  <div class="about__img">
    <div class="front"><img class="@@imgCls" src="@@imgSrc" alt="@@imgAlt" title="@@imgTitle"></div>
    <div class="back"><img class="@@imgCls" src="@@imgSrc2" alt="@@imgAlt" title="@@imgTitle"></div>
  </div>
  <div class="about__member @@direction">
    <h4 class="about__member--h4">@@name</h4>
    <p class="description">
      @@description </p>
    <nav class="nav_icons">
      <a target="_blank" class="about__nav" title="@@titleTwitter" href="@@urlTwitter"><i class="icono fab fa-twitter" href="#"></i></a> ·
      <a target="_blank" class="about__nav" title="@@titleLinkedin" href="@@urlLinkedin"><i class="icono fab fa-linkedin-in" href="#"></i></a> ·
      <a target="_blank" class="about__nav" title="@@titleGit" href="@@urlGitHub"><i class="icono fab fa-github-alt"></i></a> ·
      <a target="_blank" class="about__nav" title="@@titleMail" href="mailto:@@urlMail"><i class="icono fas fa-envelope" href="#"></i></a>
    </nav>

  </div>
</article>