/* Quienes somos */
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 15px 15px 15px;
  text-align: center;
  font-family: $typoText;
}
.who-we-are {
  width: 193px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  color: $colorPrincipal;
  font-family: $typoTitle;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}

/* Noelia's photo */

.photo-noelia {
  margin-top: 30px;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.img-noelia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  border: solid 5px $ColorContrast4Transparent;
}

/* Natalia's photo */
.photo-natalia {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px $ColorContrast4Transparent;
}

.img-natalia {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Paula's photo */
.photo-paula {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px $ColorContrast4Transparent;
}
.img-paula {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Alejandra's photo */
.photo-alejandra {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px $ColorContrast4Transparent;
}

.img-alejandra {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member {
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  font-family: $typoText;
  font-size: 20px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: $ColorContrast4;
}

.description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15 px;
  font-family: $typoText;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $colorContrast3;
}
.about__member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icons {
  width: 124px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  row-gap: 8px;
  height: 30px;
  margin-bottom: 30px;
  color: $colorPrincipal;
  line-height: 1.88;
}
.about__nav,
.nav-iconsL,
.nav-iconsR {
  color: $colorPrincipal;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

/* Responsive: tablet */

@media (min-width: $tablet) {
  .member__left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-right: 45px;
    margin-bottom: 30px;
  }
  .member__right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 45px;
    margin-bottom: 30px;
    & .photo-paula {
      order: 2;
    }
    & .about__member {
      order: 1;
    }
    & .photo-natalia {
      order: 2;
    }
  }
  .about__member {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    & .about__h4--left {
      margin-left: 0px;
      text-align: left;
    }
    & .about__h4--right {
      margin-right: 0px;
      text-align: right;
    }
    & .description {
      text-align: left;
      margin-right: 0px;
      margin-left: 0px;
    }
    & .paula-description {
      text-align: right;
    }
    & .natalia-description {
      text-align: right;
    }
    .nav-iconsR {
      margin-left: auto;
    }
  }
  .photo-noelia {
    width: 205px;
    height: 205px;
    margin-right: 31px;
    margin-left: 29px;
  }
  .photo-natalia {
    width: 205px;
    height: 205px;
    margin-left: 31px;
    margin-right: 29px;
  }
  .photo-alejandra {
    width: 205px;
    height: 205px;
    margin-right: 31px;
    margin-left: 29px;
  }
  .photo-paula {
    width: 205px;
    height: 205px;
    margin-left: 31px;
    margin-right: 29px;
  }
}

// Responsive: Desktop

@media (min-width: $desktop) {
  .member__left {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-right: 300px;
    margin-bottom: 60px;
  }
  .member__right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 300px;
    margin-bottom: 60px;
    & .photo-paula {
      order: 2;
    }
    & .about__member {
      order: 1;
    }
    & .photo-natalia {
      order: 2;
    }
  }
  .about__member {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    & .about__h4--left {
      margin-left: 0px;
      text-align: left;
    }
    & .about__h4--right {
      margin-right: 0px;
      text-align: right;
    }
    & .description {
      text-align: left;
      margin-right: 0px;
      margin-left: 0px;
    }
    & .paula-description {
      text-align: right;
    }
    & .natalia-description {
      text-align: right;
    }
    .nav-iconsR {
      margin-left: auto;
    }
  }
  .photo-noelia {
    width: 205px;
    height: 205px;
    margin-right: 45px;
    margin-left: 138px;
  }
  .photo-natalia {
    width: 205px;
    height: 205px;
    margin-left: 45px;
    margin-right: 138px;
  }
  .photo-alejandra {
    width: 205px;
    height: 205px;
    margin-right: 45px;
    margin-left: 138px;
  }
  .photo-paula {
    width: 205px;
    height: 205px;
    margin-left: 45px;
    margin-right: 138px;
  }
}
