/* MAIN */

.main {
  width: 100%;
}

/* Main: section team*/

.team-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 0 15px;

  @media (min-width: $tablet) {
    padding: 45px 45px 20px 45px;
  }
  @media (min-width: $desktop) {
    margin: 129px 300px 0;
    padding-top: 45px;
  }
}

.equipo {
  margin: auto;
  font-family: $typoTitle;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: $colorPrincipal;
}
.p-equipo {
  font-family: $typoText;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $colorContrast3;
  position: relative;
  margin-top: 15px;
  @media all and (min-width: $tablet) {
    opacity: 67%;
    text-align: center;
    width: 678px;
  }
  @media (min-width: $desktop) {
    opacity: 67%;
    width: 601px;
  }
}

.divider {
  width: 30px;
  height: 30px;
  background-color: $colorContrast1;
  transform: rotate(45deg) translate(0, 50%);
  position: relative;
  left: 12px;
  top: 4px;

  @media (min-width: $tablet) {
    transform: translate(0, 50%) rotate(45deg);
    top: 20px;
  }

  @media (min-width: $desktop) {
    transform: translate(0, 50%) rotate(45deg);
    left: 0;
  }
}

#strengthandwaeknesses {
  background-color: $colorContrast2Transparent;
  padding: 30px 15px 45px 15px;
  width: auto;
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 45px 0 60px 0;
  }
  @media (min-width: $desktop) {
    gap: 45px;
  }
}

// Equipo
.sectionteam {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }
}

// Fortalezas

.sectionteam__teamstrengths {
  @media (min-width: $tablet) {
    width: 324px;
  }
  @media (min-width: $desktop) {
    width: 439px;
  }
}

.fortalezas {
  font-family: $typoTitle;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: $colorPrincipal;
  padding: 0;
}
.p-fortalezas {
  font-family: $typoText;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $colorContrast3;

  @media (min-width: $tablet) {
    padding-top: 10px;
  }

  @media (min-width: $desktop) {
   
  }
}

// Debilidades
.sectionteam__teamweakness {
  @media (min-width: $tablet) {
    width: 324px;
  }
  @media (min-width: $desktop) {
    width: 439px;
  }
}
.debilidades {
  font-family: $typoTitle;
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: $colorPrincipal;
  padding-top: 30px;
  @media (min-width: $tablet) {
    padding: 0;
  }
}

.p-debilidades {
  margin: auto;
  font-family: $typoText;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: $colorContrast3;
  padding: 0 15px;
  @media all and (min-width: $tablet) {
    padding: 0;
    padding-top: 10px;
    text-align: center;
  }
  @media (min-width: $desktop) {

  }
}