/* MAIN */

.main {
  width: 100%;
}

/* Main: section team*/

#team {
  padding: 30px 15px 45px;
}

.equipo {
  font-family: var(--typoTitle);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
  color: var(--colorSecondary);
}

.divider {
  width: 30px;
  height: 30px;
  background-color: var(--colorContrast1);
  transform: rotate(45deg);
  position: relative;
  left: 47%;
  top: 15px;
}

.sectionteam {
  background-color: var(--colorContrast2Transparent);
  padding: 0%;
  border: 0px solid #b8b8b9;
  width: auto;
}

.fortalezas {
  font-family: var(--typoTitle);
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: var(--colorPrincipal);
  padding: 30px 15px 0 15px;
}
.debilidades {
  font-family: var(--typoTitle);
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: var(--colorPrincipal);
  padding: 30px 15px 0 15px;
}
/* Class p-equip */
.p-equipo {
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  position: relative;
  padding: 30px 15px;
}

/* Class p-fortalezas */
.p-fortalezas {
  margin: auto;
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  padding: 0 15px;
}
/* Class p-debilidades */
.p-debilidades {
  margin: auto;
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  padding: 0 15px 30px;
}
@media all and (min-width: 768px) {
  #strengthandwaeknesses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .p-equipo {
    margin-left: 45px;
    margin-right: 45px;
    opacity: 67%;
  }
  .p-debilidades {
    margin-right: 45px;
  }
  .p-fortalezas {
    margin-left: 45px;
  }
}
@media all and (min-width: 1020px) {
  .p-equipo {
    margin-left: 300px;
    margin-right: 300px;
    opacity: 67%;
  }
  .p-debilidades {
    margin-right: 138px;
  }
  .p-fortalezas {
    margin-left: 138px;
  }
}

/*
@media all and (min-width: 768px) {
  .p-equipo {
    margin-left: 45px;
    margin-right: 45px;
  }
  .p-fortalezas {
    margin-left: 45px;
    margin-right: 45px;
  }
  .p-debilidades {
    margin-left: 45px;
    margin-right: 45px;
  }
  
  .sectionteam {
    display: flex;
    flex-direction: column;
  }
  .fortalezas {
    display: flex;
    flex-direction: column;
  }
  .debilidades {
    display: flex;
    flex-direction: column;
  }
  .p-fortalezas {
    padding-left: 45px;
    padding-top: 45px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 50%;
  }
  .fortalezas {
    padding-left: 45px;
    padding-top: 45px;
    padding-bottom: 15px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 50%;
  }*/
