/* Contact */

.contact-background {
  height: 421px;
  width: 100%;
  background-size: cover;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact-title {
  margin: auto;
  font-family: var(--typoTitle);
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorSecondary);
  padding-top: 45px;
}

.contact-p {
  margin: auto;
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  position: relative;
  padding: 15px 15px 58px;
}

.contact-form {
  font-family: var(--typoText);
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
}

.contact-form-item {
  margin: 5px 0 15px 0;
  padding: 11px 15px 15px 15px;
}

#message {
  font-family: var(--typoText);
}

.highlight {
  color: var(--colorSecondary);
}
