// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: #000;
  text-decoration: none;
}

:root {
  /* Colors */
  --colorPrincipal: #099d8d;
  --colorPrincipalTransparent: rgba(9, 159, 144, 0.808);
  --colorSecondary: #14d9c4;
  --colorSecondaryTransparent: #14d9c5c9;
  --colorContrast1: #fff;
  --colorContrast2: #b8b8b9;
  --colorContrast2Transparent: #b8b8b933;
  --colorContrast3: #54585a;
  --colorContrast3Transparent: #54585abf;
  --ColorContrast4: #000;
  --ColorContrast4Transparent: rgba(0, 0, 0, 0.08);
  /* Typographys */
  --typoTitle: "Rubik", sans-serif;
  --typoText: "Open Sans", sans-serif;
}

/* HEADER */

.header-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

/* Header: group's name */
.header-fix {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.group-name {
  background-color: var(--colorPrincipalTransparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container h1 {
  font-family: var(--typoTitle);
  color: var(--colorContrast1);
  font-size: 16px;
  line-height: 30px;
  padding: 15px 80px;
}

/* Header: sections */

.menu-container {
  background-color: var(--colorSecondaryTransparent);
  display: flex;
  justify-content: space-evenly;
  padding: 8px 0;
}

.menu-item {
  list-style-type: none;
}
.menu-item a {
  text-decoration: none;
  color: var(--colorContrast1);
  font-family: var(--typoTitle);
  font-size: 15px;
  line-height: 30px;
}

.link-team,
.link-who,
.link-contact {
  text-transform: uppercase;
}

/* Header: image */
.header-background {
  height: 421px;
  width: 100%;
  background-size: cover;
  background-image: url(../images/logo6.jpg);
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Header: hero */
.hero {
  background-color: var(--colorContrast1);
  font-family: var(--typoText);
  color: var(--ColorContrast4);
  font-size: 18px;
  line-height: 25px;
  margin: 0 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 993;
  transform: translateY(-48%);
}

.hero p {
  text-align: center;
}

/* MAIN */

.main {
  width: 100%;
}

/* Main: section team*/

.equipo {
  margin: auto;
  font-family: var(--typoTitle);
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--colorSecondary);
}

.divider {
  width: 30px;
  height: 30px;
  background-color: var(--colorContrast1);
  transform: rotate(45deg);
  position: relative;
  left: 47%;
  top: 15px;
}

.fortalezas {
  font-family: var(--typoTitle);
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: var(--colorPrincipal);
  padding: 30px 15px 0 15px;
}
.debilidades {
  font-family: var(--typoTitle);
  font-size: 22px;
  font-weight: 500;
  line-height: 2.05;
  text-align: center;
  color: var(--colorPrincipal);
  padding: 30px 15px 0 15px;
}
/* Class p-equip */
.p-equipo {
  margin: auto;
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  position: relative;
  padding: 30px 15px;
}

.sectionteam {
  background-color: var(--colorContrast2Transparent);
  padding: 0%;
  border: 0px solid #b8b8b9;
  width: auto;
}
/* Class p-fortalezas */
.p-fortalezas {
  margin: auto;
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  padding: 0 15px;
}
/* Class p-debilidades */
.p-debilidades {
  margin: auto;
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  padding: 0 15px 30px;
}

/* Quienes somos */
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: var(--typoText);
}
.who-we-are {
  margin-top: 30px;
  width: 193px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  color: var(--colorPrincipal);
  font-family: var(--typoTitle);
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
}

/* Noelia's photo */

.photo-noelia {
  margin-top: 30px;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.img-noelia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  border: solid 5px var(--ColorContrast4Transparent);
}

/* Natalia's photo */
.photo-natalia {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px var(--ColorContrast4Transparent);
}

.img-natalia {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Paula's photo */
.photo-paula {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px var(--ColorContrast4Transparent);
}
.img-paula {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Alejandra's photo */
.photo-alejandra {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 180px;
  height: 180px;
  border-radius: 4px;
  border: solid 5px var(--ColorContrast4Transparent);
}

.img-alejandra {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member {
  width: 100%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--typoText);
  font-size: 20px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--ColorContrast4);
}

.description {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15 px;
  font-family: var(--typoText);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: var(--colorContrast3);
}
.social-media-link {
  width: 124px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--colorPrincipal);
  text-align: center;
  letter-spacing: normal;
  line-height: 1.88;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.nav-icons {
  margin-top: 15px;
}

/* footer  */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid var(--colorContrast2);
}
.name-in-footer {
  width: 172px;
  height: 20px;
  margin: 30px auto 20px auto;
  font-family: var(--typoText);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: var(--colorContrast2);
  text-align: center;
}

.footer-menu {
  width: 114px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--typoText);
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--colorContrast3Transparent);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}
.footer-a {
  text-align: center;
  color: var(--colorContrast3Transparent);
}

.last-article {
  margin-bottom: 45px;
}

.adalab-logo {
  /* padding-top: 30px; */
  width: 116px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  margin-bottom: 45px;
}

.adalab {
  width: 100%;
  object-fit: cover;
}

/* Contact */

.contact-background {
  height: 421px;
  width: 100%;
  background-size: cover;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
  padding-bottom: 0;
}

.contact-title {
  margin: auto;
  font-family: var(--typoTitle);
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: var(--colorSecondary);
  padding-top: 45px;
}

.contact-p {
  margin: auto;
  font-family: var(--typoText);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--colorContrast3);
  position: relative;
  padding: 15px 15px 58px;
}

.contact-form {
  font-family: var(--typoText);
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
}

.contact-form-item {
  margin: 5px 0 15px 0;
  padding: 11px 15px 15px 15px;
}

#message {
  font-family: var(--typoText);
}

.highlight {
  color: var(--colorSecondary);
}

/* RESPONSIVE VERSION */

@media all and (min-width: 768px) {
  /* Responsive: header */
  .header-fix {
    background-color: var(--colorPrincipalTransparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .group-name {
    background-color: transparent;
  }
  .menu-container {
    background-color: transparent;
  }
  .divider {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    margin-right: 45px;
  }

  /* Responsive: Contact-us */
  .noelia:first-of-type {
    display: flex;
    justify-content: left;
  }
  .noelia:nth-last-of-type() {
    display: flex;
    justify-content: left;
  }
  .natalia:first-of-type {
    display: flex;
    justify-content: right;
  }
  .natalia:nth-last-of-type() {
    display: flex;
    justify-content: right;
  }
  .alejandra:first-of-type {
    display: flex;
    justify-content: left;
  }
  .alejandra:nth-last-of-type() {
    display: flex;
    justify-content: left;
  }
  .paula:first-of-type {
    display: flex;
    justify-content: right;
  }
  .paula:nth-last-of-type() {
    display: flex;
    justify-content: left;
  }

  .noelia-description {
    margin-right: 44px;
    width: 443px;
    text-align: left;
  }
  .alejandra-description {
    margin-right: 44px;
    width: 443px;
    text-align: left;
  }
  .natalia-description {
    margin-right: 44px;
    width: 443px;
    text-align: right;
    margin-right: 281px;
  }
  .paula-description {
    margin-right: 44px;
    width: 443px;
    text-align: right;
    margin-right: 281px;
  }
  .photo-noelia {
    margin-top: 41px;
    width: 206px;
    height: 206px;
    position: absolute;
    float: left middle;
    margin-left: 43px;
  }
  .photo-alejandra {
    margin-top: 60px;
    width: 206px;
    height: 206px;
    position: absolute;
    float: left middle;
    margin-left: 43px;
  }
  .photo-natalia {
    margin-top: 60px;
    width: 206px;
    height: 206px;
    position: absolute;
    float: right;
    right: 0;
    margin-right: 43px;
  }

  .photo-paula {
    width: 206px;
    height: 206px;
    position: absolute;
    float: right;
    right: 0;
    margin-right: 43px;
    margin-top: 60px;
  }

  .member-noelia {
    width: 200px;
    text-align: left;
  }
  .member-right {
    width: 200px;
    text-align: left;
  }

  .img-noelia {
    float: left;
  }
}
