@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/footer";
@import "pages/contact";
@import "pages/aboutus";
@import "pages/team";

@media all and (min-width: 768px) {
  /* Responsive: header */
  .header-fix {
    background-color: var(--colorPrincipalTransparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .group-name {
    background-color: transparent;
  }
  .menu-container {
    background-color: transparent;
  }

  /* Responsive: Contact-us */
  .noelia:first-of-type {
    display: flex;
  }

  /* Responsive: Contact-us */
  .noelia:first-of-type {
    display: flex;
    justify-content: left;
  }
  .noelia:nth-last-of-type() {
    display: flex;
    justify-content: left;
  }
  .natalia:first-of-type {
    display: flex;
    justify-content: right;
  }
  .natalia:nth-last-of-type() {
    display: flex;
    justify-content: right;
  }
  .alejandra:first-of-type {
    display: flex;
    justify-content: left;
  }
  .alejandra:nth-last-of-type() {
    display: flex;
    justify-content: left;
  }
  .paula:first-of-type {
    display: flex;
    justify-content: right;
  }
  .paula:nth-last-of-type() {
    display: flex;
    justify-content: left;
  }

  .noelia-description {
    margin-right: 44px;
    width: 443px;
    text-align: left;
  }
  .alejandra-description {
    margin-right: 44px;
    width: 443px;
    text-align: left;
  }
  .natalia-description {
    margin-right: 44px;
    width: 443px;
    text-align: right;
    margin-right: 281px;
  }
  .paula-description {
    margin-right: 44px;
    width: 443px;
    text-align: right;
    margin-right: 281px;
  }
  .photo-noelia {
    margin-top: 41px;
    width: 206px;
    height: 206px;
    position: absolute;
    float: left middle;
    margin-left: 43px;
  }
  .photo-alejandra {
    margin-top: 60px;
    width: 206px;
    height: 206px;
    position: absolute;
    float: left middle;
    margin-left: 43px;
  }
  .photo-natalia {
    margin-top: 60px;
    width: 206px;
    height: 206px;
    position: absolute;
    float: right;
    right: 0;
    margin-right: 43px;
  }

  .photo-paula {
    width: 206px;
    height: 206px;
    position: absolute;
    float: right;
    right: 0;
    margin-right: 43px;
    margin-top: 60px;
  }

  .member-noelia {
    width: 200px;
    text-align: left;
  }
  .member-right {
    width: 200px;
    text-align: left;
  }

  .img-noelia {
    float: left;
  }
}
